html {
    scroll-behavior: smooth;
    transition: all 0.25s ease-in-out;
}

:root {
    --background-color: hsl(30, 2%, 12%);
    --background-color1: hsl(30, 2%, 13%);
    --background-color2: hsl(30, 2%, 18%);
    --background-color3: hsl(30, 2%, 30%);
    --color: hsl(30, 2%, 88%);
    --color3: hsl(30, 2%, 67%);
    --accent-turquois: hsl(180, 25%, 50%);
    --accent-red: hsl(0, 50%, 50%);
    --accent-yellow: hsl(30, 25%, 50%);
    --shadow: hsl(30, 2%, 10%);
    --shadow-dark: hsl(30, 2%, 0%);
    --button-filter: brightness(140%);
    --button-filter-hover: brightness(180%);
    --border-radius: 36px;
}

.light-mode {
    --background-color: hsl(30, 2%, 75%);
    --background-color1: hsl(30, 2%, 80%);
    --background-color2: hsl(30, 2%, 85%);
    --background-color3: hsl(30, 2%, 94%);
    --color: hsl(30, 2%, 12%);
    --color3: hsl(30, 2%, 33%);
    --accent-turquois: hsl(180, 75%, 25%);
    --accent-red: hsl(0, 50%, 50%);
    --accent-yellow: hsl(56, 50%, 50%);
    --shadow: hsl(30, 2%, 33%);
    --shadow-dark: hsl(30, 2%, 20%);
    --button-filter: brightness(67%);
    --button-filter-hover: brightness(100%);
}

@font-face {
    font-display: swap;
    font-family: "Cantarell";
    font-style: normal;
    font-weight: 400;
    src: url("dox/cantarell-v17-latin/cantarell-v17-latin-regular.woff2") format("woff2");
}

body {
    /* background-image: url("pix/bgDark.webp"); */
    /* background: repeating-radial-gradient(var(--background-color), var(--background-color1), var(--background-color) 120px); */
    background-color: var(--background-color);
    color: var(--color);
    font-family: "Cantarell", sans-serif;
    font-size: 120%;
    line-height: 1.25;
}

a, a:visited {
    color: var(--accent-turquois);
    text-decoration: underline;
}

a:hover {
    color: var(--color);
}

hr {
    border: none;
    border-radius: var(--border-radius);
    border-bottom: solid 1px var(--background-color3);
    margin: 12px 0;
}

.short {
    width: 20%;
    margin: 12px auto;
}

.hrHighLight {
    border-bottom: solid 1px var(--background-color3);
    margin: 24px 25%;
}

img:not(#logo, #logoStacked, .modalWelcome img, .modalIndex img) {
    filter: var(--button-filter);
    transition: filter 0.1s ease-in-out;
}

img:hover:not(#logo, #logoStacked, .modalWelcome img, .modalIndex img, .tdWarnPrio img, .tdWarnDue img, .iconMini img) {
    cursor: pointer;
    filter: var(--button-filter-hover);
}

button,
input,
select,
textarea {
    border: none;
    outline: none;
    padding: 3px 18px;
    font-family: "Cantarell", sans-serif;
    font-size: 100%;
}

button,
input,
select {
    border-radius: var(--border-radius);
}

textarea {
    border-radius: 18px;
}

.dimmedFont {
    color: var(--color3);
}

/* table {
    display: table;
} */

select,
input,
textarea {
    background-color: var(--background-color3);
    color: var(--color);
}

select:focus,
input:focus,
textarea:focus {
    outline: 3px solid var(--color3);
}

select,
input {
    margin-right: 24px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

select {
    width: 252px;
}

button {
    min-width: 180px;
    margin: 12px;
}

button {
    background-color: var(--color3);
    color: var(--background-color1);
}

button:hover {
    cursor: pointer;
    filter: brightness(125%);
}

.btnHighLight {
    background-color: var(--accent-turquois);
}

input {
    width: 215px;
}

input[type="range"] {
    appearance: none;
    -webkit-appearance: none;
    width: 248px;
    padding: 0;
    background: linear-gradient(90deg,
            hsl(0, 50%, 50%),
            hsl(55, 50%, 50%),
            hsl(110, 50%, 50%),
            hsl(165, 50%, 50%),
            hsl(220, 50%, 50%),
            hsl(275, 50%, 50%),
            hsl(330, 50%, 50%));
}

input[type="range"]::-webkit-slider-thumb,
input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    border: none;
    background-color: var(--background-color2);
}

input[type="checkbox"] {
    width: 24px;
    border: none;
    outline: none;
    border-radius: 50%;
    background-color: var(--accent-yellow);
}

input[type="checkbox"]:focus {
    border: none;
    outline: none;
}

textarea {
    width: calc(100% - 36px);
    min-height: 5em;
    margin-top: 12px;
    resize: none;
}

.inpOne {
    width: 15px;
    padding: 3px 6px;
    text-align: center;
}

#divSafetyCode {
    overflow: hidden;
    transition: max-height ease-in-out 1s;
    visibility: hidden;
    opacity: 0;
    max-height: 0px;
}

.normal {
    font-size: 120%;
    color: var(--color);
}

.medium {
    font-size: 100%;
}

.green {
    color: var(--accent-turquois);
    font-weight: bold;
}

.small {
    font-size: 80%;
}

.text-align-left {
    text-align: left;
}

.header {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 72px;
    height: 100%;
    z-index: 5;
    background-color: var(--background-color2);
    box-shadow: 0 0 6px var(--shadow);
}

.header img {
    width: 48px;
    padding: 12px;
}

.colorButton {
    float: right;
    width: 21px;
    height: 21px;
    border-radius: 50%;
    background-color: var(--accent-turquois);
}

#logo,
#logoStacked {
    padding: 12px;
    opacity: 1;
}

#logo {
    width: 92px;
    /* margin-top: 12px; */
    display: none;
    float: right;
}

#logoStacked {
    margin-top: 2px;
    width: 48px;
}

#btnResetSearch {
    display: none;
    background: radial-gradient(circle at center,
            var(--accent-red) 0,
            var(--accent-red) 43%,
            transparent 43%);
}

.warning {
    background: radial-gradient(circle at center,
            var(--accent-red) 0,
            var(--accent-red) 43%,
            transparent 43%);
}

.main {
    width: calc(100% - 78px);
    margin: auto auto 12px 78px;
}

.btnMoveTop {
    position: fixed;
    right: 12px;
    bottom: 12px;
    width: 30px;
    opacity: 0.5;
}

.btnMoveTop:hover {
    cursor: pointer;
    filter: brightness(125%);
}

.modalWelcome,
.modalRestore,
.modalIndex {
    z-index: 0;
    display: none;
    width: 700px;
    color: var(--color3);
}

.modalWelcome,
.modalRestore {
    margin: auto;
}

.modalIndex {
    margin-left: calc(50% - 389px); /* calc(25% - 39px); */
}

.modalWelcome img,
.modalIndex img {
    margin: 24px auto;
    /* margin-top: 24px;
    margin-bottom: 12px; */
    filter: none;
    border-radius: 3px;
    box-shadow: none;
}

.modalIndex .bubble:hover {
    filter: none;
    cursor: default;
    box-shadow: none;
}

.modalWelcome img {
    width: 100%;
    max-width: 500px;
}

.modalWelcome,
.modalRestore {
    color: var(--color);
    text-align: center;
    padding: 24px;
    border-radius: var(--border-radius);
}

.modalRestore figure {
    float: right;
}

.restorable-ticket {
    padding: 12px;
    margin: 12px auto;
    width: 90%;
    background-color: var(--background-color2);
    border-radius: var(--border-radius);
    box-shadow: 0 0 6px var(--shadow);
    text-align: left;
}

.otLogo {
    margin-left: calc(50% - 120px);
    width: 240px;
}

@keyframes float {

    0%,
    1%,
    99%,
    100% {
        transform: skew(-2deg, -2deg);
    }

    50% {
        transform: skew(-4deg, -5deg);
    }
}

#imgDarkLight {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    animation: toggleImg 10s ease-in-out infinite;
}

@keyframes toggleImg {
    0% {
        content: url("pix/screenshotTicketDark.png");
        opacity: 0;
    }

    5%,
    45% {
        content: url("pix/screenshotTicketDark.png");
        opacity: 1;
    }

    49.99% {
        content: url("pix/screenshotTicketDark.png");
        opacity: 0;
    }

    50% {
        content: url("pix/screenshotTicketLight.png");
        opacity: 0;
    }

    55%,
    95% {
        content: url("pix/screenshotTicketLight.png");
        opacity: 1;
    }

    99.99% {
        content: url("pix/screenshotTicketLight.png");
        opacity: 0;
    }

    100% {
        content: url("pix/screenshotTicketDark.png");
        opacity: 0;
    }
}

.miniBubbles {
    display: grid;
    grid-template-columns: 7.25% 7.25% 7.25% 7.25% 7.25% 7.25% 7.25% 7.25% 7.25% 7.25% 7.25% 7.25%;
    column-gap: 1%;
    justify-content: center;
}

.miniBubble {
    /* float: left;
    width: 6.33%;
    margin: 6px 1%; */
    height: 20px;
    border-radius: 50%;
}

.modalBubbles {
    /* margin-top: 120px; */
    display: grid;
    grid-template-columns: 33% 34% 33%;
    justify-content: center;
}

.grid-element {
    height: 270px;
}

.bubble {
    /* margin-top: -80px; */
    min-width: 200px;
    max-width: 360px;
    border-radius: 50%;
    padding: 12px;
    box-shadow: 0 0 12px var(--shadow);
    background-color: var(--background-color2);
    color: var(--color);
    line-height: 0.9;
    text-align: center;
    transition: all 0.25s ease-in-out;
}

/* .brightBubble {
    filter: brightness(250%);
} */

.flash {
    animation: flash 6s infinite ease-in-out;
}

.bubble:hover {
    cursor: pointer;
    filter: brightness(120%);
    box-shadow: 0 0 12px var(--shadow-dark);
    transition: all 0.1s ease-in-out;
}

.iconMini img {
    width: 24px;
    margin: 12px 3px 0 3px;
    border-radius: 50%;
}

.ticketList {
    width: 100%;
}

.ticketList tr {
    background-color: var(--background-color2);
    transition: all 0.2s ease-in-out;
}

.ticketList tr:hover:not(:first-child) {
    background-color: var(--background-color3);
    transition: all 0.05s ease-in-out;
}

.ticketList th {
    text-align: left;
    font-weight: normal;
    font-style: italic;
    color: var(--accent-turquois);
}

.ticketList th img {
    float: right;
    width: 18px;
    margin: 3px;
}

.ticketList th img:hover {
    cursor: pointer;
    filter: brightness(125%);
}

.ticketList td img {
    width: 18px;
    margin: 3px;
    opacity: 0.6;
}

.ticketList td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ticketList th,
.ticketList td {
    padding: 9px 12px;
    max-width: 200px;
}

.ticketList td:first-child,
.ticketList th:first-child {
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
}

.ticketList td:last-child,
.ticketList th:last-child {
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

.listItem:hover {
    background-color: var(--background-color3);
    cursor: pointer;
}

.btnSortUp,
.btnSortDown,
.btnUndoFilter {
    display: none;
}

#prio1 {
    border-right: solid 6px var(--accent-red);
}

#prio2 {
    border-right: solid 6px var(--accent-yellow);
}

.tdWarnPrio,
.tdWarnDue {
    float: right;
}

.modalTicket {
    display: none;
    position: absolute;
    top: 48px;
    left: 50%;
    transform: translate(-50%, 0);
    /* margin: auto; */
    width: calc(100% - 48px);
    max-width: 800px;
    padding: 12px 12px 24px 12px;
    background-color: var(--background-color2);
    border-radius: var(--border-radius);
    box-shadow: 0 0 12px var(--shadow);
}

.btnSubtasks {
    display: none;
    margin: auto;
    background-color: var(--background-color3);
    color: var(--color3);
    font-size: 0.85rem;
}

.mdDivDisplayCompletedSubtasks {
    display: none;
}

.modalTicket td {
    padding: 3px 6px 3px 0px;
}

.modalTicket figure,
.modalEditSubticket figure {
    float: right;
    margin: 24px 0 0 0;
}

.modalTicket img {
    width: 48px;
    padding: 6px 6px 0px 6px;
}

.modalTicket a {
    color: inherit;
}

.modalTicket a:hover {
    color: var(--color);
}

.settings-grid-container {
    display: grid;
    grid-template-areas:
        'appearance list-type'
        'personal-data restore-tasks';
    gap: 12px;
}

#logo-settings {
    width: fit-content;
    height: 1.25rem;
    margin: 0 0 -6px 0;
}

#logo-settings:hover {
    cursor: default;
    filter: none;
}

.grid-item {
    border: solid 1px var(--background-color3);
    border-radius: var(--border-radius);
}

.modalSearch figure,
.modalSettings figure,
.modalConfirmDone figure,
.modalSubtaskConfirmDone figure,
.modalWarningDeleteAccount figure,
.modalConfirmLogout figure,
.modalConfirmDeleteOldTickets figure {
    display: inline-block;
}

.modalIndex figure {
    display: block;
    margin: auto;
    padding: 0 24px;
}

.modalIndex figure img {
    display: block;
    margin: auto;
    width: 48px;
    padding: 12px;
}

.modalIndex figure img:hover {
    cursor: pointer;
    filter: brightness(125%);
}

.modalIndex figcaption,
.modalTicket figcaption,
.modalFilter figcaption,
.modalSearch figcaption,
.modalConfirmDone figcaption,
.modalSubtaskConfirmDone figcaption,
.modalWarningDeleteAccount figcaption,
.modalSettings figcaption,
.modalRestore figcaption,
.modalEditPersonalData figcaption,
.modalEditSubticket figcaption,
.modalCreateAccount figcaption,
.modalLogin figcaption,
.modalConfirmLogout figcaption,
.modalConfirmDeleteOldTickets figcaption {
    font-size: 75%;
    text-align: center;
    color: var(--color3);
}

.entry {
    display: none;
}

.modalSettings h4 {
    margin-bottom: 0px;
}

.modalFilter {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 25%);
}

.modalSearch,
.modalConfirmDone,
.modalSubtaskConfirmDone,
.modalWarningDeleteAccount,
.modalEditSubticket,
.modalConfirmLogout,
.modalConfirmDeleteOldTickets {
    position: fixed;
    top: 48px;
    left: 50%;
    transform: translate(-50%, 0);
}

.modalSettings,
.modalEditPersonalData,
.modalCreateAccount,
.modalLogin {
    position: absolute;
    top: 48px;
    left: 50%;
    transform: translate(-50%, 0);
}

.modalFilter,
.modalSearch,
.modalConfirmDone,
.modalSubtaskConfirmDone,
.modalWarningDeleteAccount,
.modalSettings,
.modalEditPersonalData,
.modalEditSubticket,
.modalCreateAccount,
.modalLogin,
.modalConfirmLogout,
.modalConfirmDeleteOldTickets {
    display: none;
    z-index: 5;
    width: 100%;
    min-width: 330px;
    max-width: 600px;
    padding: 12px;
    border-radius: var(--border-radius);
    border: solid 3px var(--background-color3);
    box-shadow: 0 0 24px var(--shadow);
    background-color: var(--background-color2);
    text-align: center;
}

.modalConfirmDeleteOldTickets,
.modalWarningDeleteAccount {
    border: solid 6px var(--accent-red);
}

.modalFilter img,
.modalSearch img,
.modalConfirmDone img,
.modalSubtaskConfirmDone img,
.modalWarningDeleteAccount img,
.modalSettings img,
.modalRestore img,
.modalEditPersonalData img,
.modalEditSubticket img,
.modalCreateAccount img,
.modalLogin img,
.modalCreateAccount img,
.modalLogin img,
.modalConfirmLogout img,
.modalConfirmDeleteOldTickets img {
    margin: auto;
    width: 36px;
    padding: 6px 6px 0px 6px;
}

.btnCloseModal {
    position: absolute;
    right: 12px;
    width: 24px !important;
}

.modalCreateAccount input,
.modalLogin input,
.modalEditPersonalData input,
.modalWarningDeleteAccount input {
    margin: 6px 0;
}

#alert {
    display: none;
    z-index: 10;
    position: fixed;
    width: calc(100% - 200px);
    max-width: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 48px;
    box-shadow: 0 0 48px var(--shadow-dark);
    background-color: var(--background-color2);
    opacity: 0.98;
    border-radius: 50%;
    border-top: solid 6px var(--accent-turquois);
    border-right: solid 24px var(--accent-turquois);
    border-bottom: solid 6px var(--accent-turquois);
    border-left: solid 24px var(--accent-turquois);
    /* border: solid 4px var(--accent-red); */
    text-align: center;
}

#loader {
    display: none;
    z-index: 14;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    text-align: center;
    font-size: 0.75rem;
}

#loader-text {
    z-index: 15;
    position: absolute;
    top:33%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#loader img {
    width: 150px;
    opacity: 0.95;
    animation: loading 1.5s ease-in-out infinite;
}

@keyframes loading {
    0% {
        rotate: 0deg;
    }
    100% {
        rotate: 360deg;
    }
}

@keyframes flash {

    0%,
    45%,
    55%,
    100% {
        opacity: 0.67;
    }

    50% {
        opacity: 0.1;
    }
}

@media (max-width: 1600px) {
    .modalBubbles {
        grid-template-columns: 50% 50%;
    }
}

@media (max-width: 1200px) {

    .ticketList td:nth-child(1),
    .ticketList th:nth-child(1),
    .ticketList td:nth-child(5),
    .ticketList th:nth-child(5) {
        display: none;
    }

    .ticketList td:nth-child(2),
    .ticketList th:nth-child(2) {
        border-top-left-radius: var(--border-radius);
        border-bottom-left-radius: var(--border-radius);
    }

    .header {
        width: 100%;
        height: max-content;
    }

    .header img {
        float: left;
    }

    .modalWelcome,
    .modalRestore,
    .list {
        margin-top: 84px;
    }

    .modalTicket,
    .modalSearch,
    .modalSettings,
    .modalEditPersonalData,
    .modalConfirmDone,
    .modalSubtaskConfirmDone,
    .modalWarningDeleteAccount,
    .modalEditSubticket,
    .modalFilter,
    .modalConfirmLogout,
    .modalConfirmDeleteOldTickets {
        top: 84px;
    }

    #logo {
        display: block;
    }

    #logoStacked {
        display: none;
    }

    .main {
        margin: 0 0 12px 0;
        width: 100%;
    }

    .modalBubbles {
        margin-top: 90px;
    }
}

@media (max-width: 900px) {

    .modalFilter,
    .modalSearch,
    .modalConfirmDone,
    .modalSubtaskConfirmDone,
    .modalWarningDeleteAccount,
    .modalSettings,
    .modalEditPersonalData,
    .modalEditSubticket,
    .modalCreateAccount,
    .modalLogin,
    .modalConfirmLogout,
    .modalConfirmDeleteOldTickets {
        width: 90%;
    }

    .ticketList td:nth-child(4),
    .ticketList th:nth-child(4),
    .ticketList td:nth-child(5),
    .ticketList th:nth-child(5),
    .ticketList td:nth-child(6),
    .ticketList th:nth-child(6) {
        display: none;
    }

    .ticketList td:nth-child(3),
    .ticketList th:nth-child(3) {
        border-top-right-radius: var(--border-radius);
        border-bottom-right-radius: var(--border-radius);
    }

    .modalBubbles {
        grid-template-columns: 100%;
    }

    .bubble {
        margin-top: 0px;
    }

    .modalWelcome,
    .modalRestore {
        width: 100%;
        padding: 24px 0;
    }

    .modalIndex,
    .restorable-ticket {
        width: calc(100% - 24px);
    }

    .modalIndex {
        margin: auto;
    }

}

@media (max-width: 600px) {

    .settings-grid-container {
        grid-template-areas:
            'appearance'
            'list-type'
            'personal-data'
            'restore-tasks';
    }

    .header img {
        width: 36px;
        padding: 12px 9px;
    }

    /* .bubble {max-width: 300px;} */
    .ticketList td:nth-child(1),
    .ticketList th:nth-child(1),
    .ticketList td:nth-child(3),
    .ticketList th:nth-child(3),
    .ticketList td:nth-child(4),
    .ticketList th:nth-child(4),
    .ticketList td:nth-child(5),
    .ticketList th:nth-child(5),
    .ticketList td:nth-child(6),
    .ticketList th:nth-child(6) {
        display: none;
    }

    .ticketList td:nth-child(2),
    .ticketList th:nth-child(2) {
        border-radius: var(--border-radius);
    }

    #logo {
        width: 60px;
        margin-top: 5px;
    }

    .modalWelcome,
    .modalRestore,
    .list {
        margin-top: 60px;
    }

    /* .main {
        margin-top: 72px;
    } */

    /* .modalEditPersonalData td {
        display: table-row;
    } */

    .modalTicket img {
        width: 36px;
    }

    .modalTicket figcaption {
        font-size: 67%;
    }

    .colorButton {
        float: inline-end;
    }
}